<%- include("partials/_header") %>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-5">
        <div class="card-body">
          <form action="/addMedia" method="POST">
            <div class="row">
              <div class="col-md-6">

                <input required type="text" name="serial" placeholder="Serial" class="form-control mb-3" required
                  autofocus />
                <input required type="text" name="titulo" placeholder="Titulo" class="form-control mb-3" />
                <input required type="text" name="sinopsis" placeholder="Sinopsis" class="form-control mb-3" />
                <input required type="text" name="url" placeholder="Url" class="form-control mb-3" />
                <input required type="text" name="imagen" placeholder="imagen" class="form-control mb-3" />
                <input required type="text" name="añoEstreno" placeholder="Año de estreno" class="form-control mb-3" />

              </div>
              <!-- Relacionales SQL -->
              <div class="col-md-6">

                <input required type="text" name="generoPrincipal" placeholder="Genero Principal"
                  class="form-control mb-3" />
                <input required type="text" name="directorPrincipal" placeholder="Genero Principal"
                  class="form-control mb-3" />
                <input required type="text" name="generoPrincipal" placeholder="Genero Principal"
                  class="form-control mb-3" />

                <select name="director">
                  <% for (const director of directores) { %>
                    <option value="<%= director.nombre %>">
                      <%= director.nombre %>
                    </option>
                    <% } %>
                </select>

              </div>
            </div>
            <button type="submit" class="btn btn-info">guardar genero</button>
          </form>
        </div>
      </div>
      <div class="col-md-12">
        <h1 class="">Gestion de los media</h1>
        <table class="table table-dark table-bordered table-hover">
          <thead>
            <tr>
              <td>n°</td>
              <td>nombre</td>
              <td>estado</td>
              <td>fecha Creacion</td>
              <td>fecha actualizacion</td>
              <td>descripcion</td>
            </tr>
          </thead>
          <tbody>
            <% if (media) { %>
              <% for(var i=0; i < media.length; i++) { %>
                <tr>
                  <td>
                    <%= (i + 1) %>
                  </td>
                  <td>
                    <%= media[i].nombre %>
                  </td>
                  <td>
                    <%= media[i].estado %>
                  </td>
                  <td>
                    <%= media[i].fechaCreacion %>
                  </td>
                  <td>
                    <%= media[i].fechaActualizacion %>
                  </td>
                  <td>
                    <%= media[i].descripcion %>
                  </td>

                  <td class="d-flex gap-2">
                    <a href="/updateMedia/<%= media[i].id %>" class="btn btn-info">
                      Edit
                    </a>
                    <a href="/deleteMedia/<%= media[i].id %>" class="btn btn-danger">
                      Delete
                    </a>
                  </td>
                </tr>
                <% } %>
                  <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%- include("partials/_footer") %>